.calendar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .rbc-calendar {
    font-family: Arial, sans-serif;
  }
  
  .rbc-event {
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
  }
  
  .rbc-event:hover {
    opacity: 1;
  }

  /* Container for time slot groups */
.rbc-timeslot-group {
    position: relative;
  }
  
  /* Individual event item */
  .rbc-event {
    width: 100%;
    max-height: 100px; /* Adjust based on your needs */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
    box-sizing: border-box;
  }

  .rbc-timeslot-group{
    min-height: 200px !important;
  }
  .rbc-event{
    height: 30px !important;
    min-width: 100%;
    left: 0px !important;

  }

  .rbc-event-content{
    display: none;
  }
  
  